<h1 mat-dialog-title>Add a new Shortcut</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm">
    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url" />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class="halfWidth"
      style="margin-right: 10px"
    >
      <mat-label>Select Background Color</mat-label>
      <input
        matInput
        [ngxMatColorPicker]="picker"
        [disabled]="disabled"
        formControlName="backgroundColor"
      />
      <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
      <ngx-mat-color-picker
        #picker
        [touchUi]="touchUi"
        [color]="color"
      ></ngx-mat-color-picker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="halfWidth">
      <mat-label>Select Dashboard Name</mat-label>
      <mat-select formControlName="boardName">
        <mat-option *ngFor="let board of boardList" [value]="board">
          {{ board }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">
    Cancel
  </button>
  <button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>
    Add
  </button>
</div>
