<h1 mat-dialog-title>Add a new Shortcut</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Dashboard Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">
    Cancel
  </button>
  <button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>
    Add
  </button>
</div>
