<mat-toolbar class="toolbar secondary-toolbar">
  <div class="toolbarDiv">
    <div>
      <!-- <button mat-button (click)="opneAddNewDialog()">
        <mat-icon>add</mat-icon>
      </button> -->
      <button
        *ngIf="editMode"
        mat-button
        (click)="addNewDashboardTab()"
        matTooltip="Add a new Dashboard"
      >
        <mat-icon
          ><span class="material-symbols-outlined"> new_window </span></mat-icon
        >
      </button>
      <button
        *ngIf="editMode"
        mat-button
        (click)="addGridTile()"
        matTooltip="Add a new Shortcut"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        *ngIf="!editMode"
        mat-button
        (click)="editMode = true"
        matTooltip="Edit Dashboard"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        *ngIf="editMode"
        mat-button
        (click)="saveGridTile()"
        matTooltip="Save Dashboard"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="grid-container">
  <ktd-grid
    [cols]="cols"
    #KtdGridComponent
    [rowHeight]="rowHeight"
    [layout]="layout"
    (layoutUpdated)="onLayoutUpdated($event)"
    [compactType]="'vertical'"
    [gap]="5"
  >
    <ktd-grid-item
      class="gridItem"
      *ngFor="let item of layout; trackBy: trackById"
      [id]="item.id"
      [style.background-color]="item.backgroundColor || 'gray'"
      [style.border]="editMode ? 'solid 1px gray' : ''"
      style="border-radius: 5px"
      [draggable]="editMode"
      [resizable]="editMode"
    >
      <!-- Your grid item content goes here -->
      <div class="grid-item-remove-handle">
        <button *ngIf="editMode" mat-icon-button (click)="opneEdigDialog(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editMode" mat-icon-button (click)="removeItem(item.id)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- Optional Custom placeholder template -->
      <ng-container>
        <div class="contentContainer">
          <app-shortcut
            [name]="item.name"
            [url]="item.url"
            [isEditing]="editMode"
          ></app-shortcut>
        </div>
      </ng-container>
      <ng-template ktdGridItemPlaceholder>
        <!-- Custom placeholder content goes here -->
      </ng-template>
    </ktd-grid-item>
  </ktd-grid>
</div>
