<div class="mainContainer">
  <div
    fxLayout="column"
    fxLayoutGap="1rem"
    fxLayoutAlign="center center"
    style="padding: 0rem 3rem 3rem 3rem"
    style="width: 100%"
  >
    <mat-tab-group
      mat-align-tabs="center"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab
        *ngFor="let board of boardlist; let i = index"
        label="{{ board }}"
      >
        <app-dashboard
          *ngIf="i == selectedTabIndex"
          [dashboardName]="board"
        ></app-dashboard>
      </mat-tab>
      <mat-tab label="{{ 'Links' }}">
        <app-links></app-links>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
