<mat-list>
  <div mat-subheader>Notifications</div>
  <mat-list-item style="background-color: rgb(235, 140, 140)">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>Please complete Time Sheet</div>
    <div mat-line>{{ date | date }}</div>
  </mat-list-item>
  <mat-list-item style="background-color: rgb(140, 235, 140)">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>Complete your training</div>
    <div mat-line>{{ date | date }}</div>
  </mat-list-item>
  <mat-list-item style="background-color: rgb(241, 246, 83)">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>test notifications</div>
    <div mat-line>{{ date | date }}</div>
  </mat-list-item>
</mat-list>
